* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: darkgray;*/
    margin-top: 50px;
}

.one {
    width: auto;
    height: 50px;
    background-color: black;
    color: #fff;
    padding: 30px 10px 30px 30px;
    overflow: hidden;
}

.one ul {
    float: right;
}

.ul1 li {
    margin: 30px 10px 10px 0;
    list-style-type: none;
    float: left;
}

.ul1 li input {
    width: 120px;
    height: 25px;
    border-radius: 12px;
}

.ul2 {
    display: none;
}

.span {
    padding-right: 30px;
    font-size: 25px;
}

.ul2 li {
    margin: 30px 10px 10px 0;
    list-style-type: none;
    float: left;
}

.ul2 li input {
    margin: 0 10px 10px 0;
    width: 100px;
    height: 25px;
}

.one div {
    font-size: 30px;
    float: left;
}

.strip {
    width: 1080px;
    height: auto;
    margin: 80px auto auto auto;
}

.str {
    float: left;
    width: 100%;
    position: relative;
    z-index: 0;
}

.strip-1 {
    width: 1020px;
    height: 50px;
    background-color: #767676;
    border-bottom: 4px solid orange;
    float: left;
    margin-top: 60px;
    padding-left: 60px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#school0 {
    background-color: orange;
}

.strip-2 {
    width: 0;
    height: 0;
    border-top: 30px solid #6F6F6F;
    border-left: 30px solid transparent;
    float: left;
}

.strip-3 {
    width: 0;
    height: 0;
    border-top: 30px solid #6F6F6F;
    border-right: 30px solid transparent;
    float: right;
}

.strip-1 li {
    padding: 40px;
    color: #ffffff;
    font-size: larger;
    margin: -25px 10px 10px 0;
    list-style-type: none;
    float: left;
}

.project {
    float: left;
    height: 180px;
    margin-top: 50px;
    padding: 20px;
    position: relative;
    z-index: 0;
}

.deleteMyPost {
    float: left;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    background: -webkit-linear-gradient( #ffffff, #C91512, #C91512);
    background: -o-linear-gradient( #ffffff, #C91512, #C91512);
    background: -moz-linear-gradient( #ffffff, #C91512, #C91512);
    background: linear-gradient( #ffffff, #C91512, #C91512);
    z-index: 2;
    position: absolute;
    right: 40px;
    bottom: -15px;
}

.toTop {
    float: left;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    background: -webkit-linear-gradient( #ffffff, blue);
    background: -o-linear-gradient( #ffffff, blue);
    background: -moz-linear-gradient( #ffffff, blue);
    background: linear-gradient( #ffffff, blue);
    z-index: 2;
    position: absolute;
    right: 120px;
    bottom: -15px;
}

.cancelTop {
    float: left;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    display: none;
    background: -webkit-linear-gradient( #ffffff, blue);
    background: -o-linear-gradient( #ffffff, blue);
    background: -moz-linear-gradient( #ffffff, blue);
    background: linear-gradient( #ffffff, blue);
    z-index: 2;
    position: absolute;
    right: 120px;
    bottom: -15px;
}

.project_message {
    width: 160px;
}

a {
    text-decoration: none;
}

.content {
    height: 160px;
    background-color: #ffffff;
    position: absolute;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 1;
    right: 20px;
    top: 20px;
}

.content_title {
    color: rgba(238, 86, 21, 0.68);
    font-size: 20px;
    font-weight: 800;
}

.content_main {
    height: 80px;
    overflow: hidden;
}

.content_time {
    float: right;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

.sign {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    font-size: 20px;
    position: fixed;
    display: none;
    top: 30%;
    left: 40%;
    border: 1px solid #000;
}

.sign h2 {
    text-align: center;
    color: #ffffff;
    background-color: maroon;
}

.sign div {
    width: 370px;
    margin: 50px auto 0 auto;
}

.sign div input {
    width: 230px;
    height: 25px;
    border-radius: 20px;
    float: right;
    background-color: rgba(53, 26, 14, 0.16);
}

.but {
    width: 150px;
    height: 30px;
    margin: 10px 45px 0 45px;
}

.userName {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

.user_name {
    font-size: 1em;
}

.send {
    float: left;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    background-color: #6F6F6F;
    width: 940px;
    border-radius: 50px;
    margin: 50px 0 20px 0;
    padding: 30px 20px 20px 20px;
    position: relative;
    z-index: 0;
}

.send div {
    width: auto;
}

.send input {
    width: 150px;
    margin-right: 20px;
    border-radius: 40px;
}

.sentTitle input {
    width: 720px;
    height: 50px;
    border-radius: 40px;
    position: absolute;
    z-index: 1;
    left: 220px;
}

.sendContent-name {
    position: absolute;
    top: 0;
}

.sentContent textarea {
    padding: 20px;
    height: 300px;
    width: 720px;
    border-radius: 40px;
    margin-left: 198px;
}

.sentContent {
    position: relative;
    margin-top: 100px;
}

.sentImg {
    margin-top: 330px;
}

.sentImg button {
    width: 180px;
    font-size: 80px;
    font-weight: 800;
    height: 120px;
    border-radius: 30px;
    position: absolute;
    z-index: 1;
    left: 220px;
}

.classify {
    margin: 0;
}

.classify select {
    width: 150px;
    font-size: 20px;
    font-weight: 800;
    height: 50px;
}

.addImg {
    margin-left: 200px;
}

.addImg .button-box {
    margin: 30px 0 0 0;
}

.addImg .button-box .add {
    margin-left: 30px;
}

.addImg .button-box .classify {
    margin-right: 30px;
}

.bottom {
    width: auto;
    font-size: 25px;
    text-align: right;
    padding: 10px 50px 10px 0;
    background-color: #000000;
    color: #ffffff;
    margin-top: 10px;
}


/*add*/

.mdui-menu {
    margin-top: 40px;
}

.weathertitle {
    font-weight: bold;
    text-align: center;
    padding-left: 15px!important;
}

#today {
    display: block;
    margin: 0 auto;
}

.mdui-appbar-with-toolbar {
    /*padding-top: 150px!important;*/
}

.user_name2 {
    color: black;
}

.mdui-list {
    padding-top: 0px!important;
}

.mdui-card {
    box-shadow: none!important;
    border-radius: 0px!important;
}

.personal {
    border-radius: 100%;
}

.loader {
    /*        display: inline-block;
        width: 100px;
        height: 100px;*/
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
}

.ball-grid-pulse > div {
    /*以此类推*/
    background-color: orange;
}

.preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #2b2d35;
    text-align: center;
    z-index: 9999999;
}

.ball-pulse {
    position: relative;
    top: 50%;
}

.bordercss {
    border-bottom-width: 2px;
    border-bottom: solid;
    transition: all linear 0.3s;
}

.itemborder {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
}

.name {
    font-weight: 300;
    font-size: 1em;
}

.date {
    color: #BDBDBD;
    font-size: 0.7em;
}

.stick {
    height: 7px;
    width: 7px;
    border-radius: 100%;
}

tr {
    min-height: 150px;
}

.title {
    font-weight: 400;
    font-size: 1.1em;
    margin-top: -15px;
    margin-bottom: 20px;
}

.href {
    display: block;
    margin-left: 10px;
}

.detailname {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: bold;
}

.centerimg {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
}

a {
    text-decoration: none;
}

.text_content {
    width: 80%;
    word-spacing: normal;
    word-wrap: break-word;
}

.doc-footer-nav {
    height: 96px;
    margin-top: 70px;
}

.doc-footer-nav-left,
.doc-footer-nav-right {
    height: 96px;
}

.doc-footer-nav-left {
    text-align: left;
}

.doc-footer-nav-right {
    text-align: right;
}

.doc-footer-nav-text {
    box-sizing: border-box;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    line-height: 24px;
    padding-top: 24px;
    width: 100%;
}

.doc-footer-nav-text .mdui-icon {
    padding-top: 23px;
    width: 24px;
}

.doc-footer-nav-text .doc-footer-nav-direction {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 1px;
    opacity: 0.55;
}

.doc-footer-nav-left .mdui-icon {
    float: left;
    margin-right: 10px;
}

.doc-footer-nav-right .mdui-icon {
    float: right;
    margin-left: 10px;
}

.doc-footer-nav-left .doc-footer-nav-chapter {
    margin-left: 34px;
}

.doc-footer-nav-right .doc-footer-nav-chapter {
    margin-right: 34px;
}

.mdui-theme-layout-dark .doc-footer-nav {
    background-color: #212121 !important;
}

.mdui-theme-layout-dark .doc-footer-nav-left,
.mdui-theme-layout-dark .doc-footer-nav-right {
    background-color: #212121 !important;
}

.mdui-theme-layout-dark .doc-footer-nav-text {
    color: #fff;
}

a:focus,
a:hover {
    /*color: white!important;*/
    text-decoration: none!important;
}

.clearfix {
    clear: none!important;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -58px;
}

.main {
    /*padding-bottom: 10px;*/
}

.doc-footer-nav {
    height: 96px;
    margin-top: 100px;
}

@-webkit-keyframes fadeOutRightShort {
    from {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(18px, 0, 0);
        transform: translate3d(18px, 0, 0)
    }
}

@keyframes fadeOutRightShort {
    from {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(18px, 0, 0);
        transform: translate3d(18px, 0, 0)
    }
}

@-webkit-keyframes fadeInLeftShort {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-18px, 0, 0);
        transform: translate3d(-18px, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeftShort {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-18px, 0, 0);
        -ms-transform: translate3d(-18px, 0, 0);
        transform: translate3d(-18px, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.ng-fadeInLeftShort.ng-enter {
    -webkit-animation: fadeInLeftShort .5s;
    -o-animation: fadeInLeftShort .5s;
    animation: fadeInLeftShort .5s
}

.ng-fadeInLeftShort.ng-leave {
    -webkit-animation: fadeOutRightShort .5s;
    -o-animation: fadeOutRightShort .5s;
    animation: fadeOutRightShort .5s
}

.jcrop-active {
    height: 100%!important;
    width: 100%!important;
}

div {
    cursor: default!important;
}

#uploadpicmodal1 {
    padding-right: 0!important;
}

.modal {
    box-shadow: none;
    background-color: transparent;
}

.slidedown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slidedown.ng-enter,
.slidedown.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.slidedown.ng-enter {
    top: -100%;
}

.slidedown.ng-enter-active {
    top: 0;
}

.slidedown.ng-leave {
    top: 0;
}

.slidedown.ng-leave-active {
    top: 100%;
}

[ng-view].ng-leave {
    display: none!important;
}

[ng-view].ng-leave.ng-fluid {
    display: block!important;
}

input,
input:focus,
input:active {
    user-select: text;
}

.text_content > table > tbody >td {
    border: 1px solid black;
}

.display {
    display: none;
}

@media (max-width: 9999px) {
    .mdui-hidden-xs {
        display: block!important;
    }
}
.font{
    font-size: 1.5em!important;
}