.two_box{
    float: left;
    width: 960px;
    border-radius:  41px;
    margin: -90px 11px 11px 11px;
    /*height: 800px;*/
    background-color: lightgray;
}
.two_box_one{
    margin-top: 120px;
    padding-bottom: 15px;
    /*border-bottom: 2px solid darkgray;*/
}
.two_box_one li{
    float: left;
    list-style-type: none;
    margin-left: 20px;
    font-weight: 800;
}
.two_box_one input{
    float: right;
    width: 80px;
    height: 35px;
    margin-left: 20px;
}
.title{
    font-size: 30px;
}
.time{
    font-size: 25px;
}
.two_box_two{
    height: 350px;
    border-top: 4px solid darkgray;
    border-bottom: 4px solid darkgray;
}
.two_box_message{
    height: 310px;
    float: left;
    padding: 20px;
}
.two_box_message img{
    width: 140px;
    height: 140px;
    border-radius: 70px;
}
.two_box_content{
    height: 310px;
    float: left;
    padding: 20px;
    width: 440px;
    border-left: 4px solid darkgray;
    border-right: 4px solid darkgray;
    overflow: auto;
}
.two_box_img{
    text-align: center;
    overflow: hidden;
}
.two_box_img img{
    margin-top: 20px;
    width: 260px;
    height: auto;
}
.comment{
    padding: 30px;
    width: 100%;
    text-align: center;
}
.comment-value{
    width: 650px;
    height: 150px;
    border-radius: 30px;
    padding: 20px;
}
.tourist{
    width: 100%;
    height: 200px;
    overflow: auto;
    border-top: 4px solid darkgray;
    text-align: center;
}
.tourist img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
}
.tourist-message{
    height: 180px;
    float: left;
    padding: 10px;
    border-right: 4px solid darkgray;
}
.tourist-content{
    text-align: center;
    float: left;
    padding: 20px;
    width: 700px;
    overflow: auto;
}
.true{
    margin-right: -550px;
    width: 80px;
    height: 35px;
}