<div class="mdui-row">
    <div class="mdui-ripple" ng-repeat="item in mydata">
        <li class="mdui-list-item" ng-if="item.post_topstatu=='1'">
            <div class="mdui-list-item-avatar mdui-img-circle"><img holder='holder.js/40x40?theme=me&text={{item.user_name| limitTo : 1 | uppercase }}' /></div>
            <!--             <div class="mdui-list-item-content mdui-list-item-two-line">{{item.user_name}}</div>
            <div class="mdui-list-item-content mdui-list-item-two-line">{{item.user_name}}</div> -->
            <ul class="mdui-list-item-content">
                <li class="mdui-list-item-one-line name">{{item.user_name}}</li>
                <li class="mdui-list-item-one-line date">{{item.post_time}}</li>
            </ul>
            <!-- <div class="stick mdui-color-theme-accent" mdui-tooltip="{content: '置顶'} "></div> -->
            <!-- <i class="mdui-list-item-icon mdui-icon material-icons">&#xe0ca;</i> -->
            <a ng-click="down(item.post_id)"><i class="mdui-list-item-icon mdui-icon material-icons href" mdui-tooltip="{content: '取消置顶'}">&#xe2c1;</i></a>
            <a ng-href="#/post/{{item.post_id}}"><i class="mdui-list-item-icon mdui-icon material-icons href" mdui-tooltip="{content: '帖子详情'}">&#xe5c8;</i></a>
        </li>
        <li class="mdui-list-item itemborder" ng-if="item.post_topstatu=='1'">
            <div class="mdui-list-item-content" style="margin-left: 20px;font-size: 0.9em;margin-bottom: 20px;margin-top: 20px;">
                <div class="title">{{item.post_title}}</div>
                <div class=" mdui-text-truncate" style="color:#616161">{{item.post_content}}</div>
            </div>
        </li>
    </div>
    <div class="mdui-ripple" ng-repeat="item in mydata">
        <li class="mdui-list-item" ng-if="item.post_topstatu=='0'">
            <div class="mdui-list-item-avatar mdui-img-circle"><img holder='holder.js/40x40?theme=me&text={{item.user_name| limitTo : 1 | uppercase }}' /></div>
            <!--             <div class="mdui-list-item-content mdui-list-item-two-line">{{item.user_name}}</div>
            <div class="mdui-list-item-content mdui-list-item-two-line">{{item.user_name}}</div> -->
            <ul class="mdui-list-item-content">
                <li class="mdui-list-item-one-line name">{{item.user_name}}</li>
                <li class="mdui-list-item-one-line date">{{item.post_time}}</li>
            </ul>
            <div class="stick mdui-color-theme-accent" ng-if="item.post_topstatu=='1'"></div>
            <!-- <i class="mdui-list-item-icon mdui-icon material-icons">&#xe0ca;</i> -->
            <a ng-click="airport(item.post_id)"><i class="mdui-list-item-icon mdui-icon material-icons href" mdui-tooltip="{content: '置顶'}">&#xe53d;</i></a>
            <a ng-href="#/post/{{item.post_id}}" mdui-tooltip="{content: '帖子详情'}"><i class="mdui-list-item-icon mdui-icon material-icons href">&#xe5c8;</i></a>
        </li>
        <li class="mdui-list-item" ng-if="item.post_topstatu=='0'" ng-class="{'itemborder':!$last}">
            <div class="mdui-list-item-content mdui-text-truncate" style="margin-left: 20px;font-size: 0.9em;margin-bottom: 20px;margin-top: 20px;">
                <div class="title">{{item.post_title}}</div>
                <div class="mdui-text-truncate" style="color:#616161">{{item.post_content}}</div>
            </div>
        </li>
    </div>
    <li class="mdui-list-item" ng-if="mydata=='已经没有帖子了'">已经没有帖子了～请返回上一页～</li>
</div>
<!--         <ul class="pagination-sm" boundary-links='true', rotate='false', first-text="首页", last-text="尾页", total-items='totalItems', max-size='maxSize' , ng-model='currentPage', ng-change='pageChanged(currentPage, size)'>
        </ul> -->
<div style="width: 100%;text-align: center;">
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm " template-url="../bower_components/ui-bootstrap/template/pagination/pagination.html" previous-text="上一页" next-text="下一页" ng-change="pageChange(currentPage)" href="#"></ul>
    <!-- <i class="mdui-icon material-icons">&#xe5c4;</i> -->
</div>
